<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="com.driot.bookplayer.testutil.StubDocumentProvider"
            android:authorities="com.driot.bookplayer.test.documents"
            android:grantUriPermissions="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>

</manifest>
