*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/sdcard_Pixel9.img
/sdcard_shared.img
/app/src/androidTest/assets/fixtures
/app/src/main/cpp
/app/src/debug/google-services.json
/app/src/release/google-services.json